/*google fontes latos*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

/*header*/

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;

.menu-simples{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.menu-simples img{
    width: 6%;
    cursor: pointer;
}
.banner{
    background-color: #ADDA87;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56vh;
}
.banner img{
    width: 30%;
}
/*main*/

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.corpo{
    align-items: center;
    height: 16vh;
    display: flex;
    justify-content: space-between;

}

.corpo p{
    width: 12%;
}

.corpo h2{
    width: 23%;
    text-align: center;
}

.produto{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.produto button{
    width: 30%;
    height: 8%;
    border: none;
    border-radius: 10px;
    background-color: #5CA720;
    color: white;
    transition: opacity 0.5s;
    animation: 0.8s linear infinite;
    cursor: pointer;
}

.produto button:hover{
    box-shadow: inset 12vw 0 0 0 #512200BD;
}

.produto div{
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.produto img:hover{
    opacity: 0.5;
    transition: ease-in-out 0.5s;
}

.flor{
    transition: ease-in-out 0.5s;
    
}

.flor:hover{
    background-color: #ADDA87;
}

.produto-1{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.produto-1 button{
    width: 30%;
    height: 8%;
    border: none;
    border-radius: 10px;
    background-color: #5CA720;
    color: white;
}

.produto-1 img:hover{
    opacity: 0.5;
    transition: ease-in-out 0.5s;
}

.produto-1 div{
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.produto-2{
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-around;
}

.produto-2 img:hover{
    opacity: 0.5;
    transition: ease-in-out 0.5s;
}

.produto-2 button{
    width: 30%;
    height: 8%;
    transition: opacity 0.5s;
    animation: 0.8s linear infinite;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #5CA720;
    color: white;
}

.produto-2 div{
    height: 65vh;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

span{
    color: #5CA720;
    font-size: 1.2rem;
    text-decoration: underline;
}
    
/*footer*/

.footer{
    height: 40vh;
    background-color: #f9f9f9;
}

.servicos{
    align-items: center;
    height: 40vh;
    display: flex;
    justify-content: space-around;
}

.informacao{
    width: 40%;
    height: 20vh;
    line-height: 5vh;
}

.footer-email{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.email input{
    border: none;
    height: 8vh;
    width: 20vw;
}

.email input::placeholder{
    left: 5%;
    position: relative;
}

.email button{
    border: none;
    height: 8vh;
    width: 10vw;
    background-color: #5CA720;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
}

.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18vh;
}

.rede-social{
    display: flex;
    justify-content: space-evenly;
    width: 15%;
}

.pagamento{
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    align-items: center;
}

.visa{
    width: 55px;
    height: 18px;
}

.mastercard{
    width: 56px;
    height: 43px;
}

.paypal{
    width: 28px;
    height: 33px;
}

/*responsivo*/
@media (max-width:768px) {
    /*header*/
    .menu-simples{
        width: 50%;
    }
    .menu-simples img{
        width: 10%;
    }
    .banner{
        height: 30vh;
    }
    .banner img{
        width: 75%;
    }
    
    /*main*/
    .principal{
        height: 15vh;
        justify-content: space-around;
    }
    .principal p{
        width: 20%;
    }
    .produtos{
        flex-wrap: wrap;
        padding-top: 10%;
    }
    .produtos1{
        flex-direction: column;
    }
    .produtos2{
        flex-direction: column;
    }
    
    /*footer*/
    footer{
        height: 80vh;
    }
    .servicos{
        flex-direction: column;
        height: 60vh;
    }
    .footer-informacao{
        width: 82%;
    }
    .email-1{
        height: 25vh;
    }
    .email{
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .email input{
        width: 80vw;
    }
    .email input::placeholder{
        font-size: 1.1rem;
    }
    .email button{
        width: 80vw;
        font-size: 1.3rem;
    }
    .footer-rede{
        justify-content: space-between;
    }
    .rede-social{
        width: 40%;
    }
    .pagamento{
        width: 60%;
    }
}
