/*google fontes latos*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

/*header*/

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;

.menu-simples{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.menu-simples img{
    width: 6%;
    cursor: pointer;
}
.banner{
    background-color: #ADDA87;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56vh;
}
.banner img{
    width: 30%;
}
/*main*/
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}
.principal p{
    width: 12%;
}
.principal h2{
    width: 22%;
    text-align: center;
}
.produtos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}
.produtos button{
    border: none;
    border-radius: 10px;
    background-color: #5CA720;
    color: white;
    width: 30%;
    height: 8%;
    transition: ease-in-out 1.5s;
    cursor: pointer;
}
.product button:hover{
    box-shadow: inset 12vw 0 0 0 #512200BD;
}
.produto div{
    display: flex;
    flex-direction: column;
    height: 65vh;
    justify-content: space-around;
}
.produto img:hover{
    opacity: 0.5;
    transition: ease-in-out 0.5s;
}
.imagem{
    transition: ease-in-out 0.5s;
    
}
.imagem:hover{
    background-color: #ADDA87;
}

.produtos1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}
.produtos1 button{
    border: none;
    border-radius: 10px;
    background-color: #5CA720;
    color: white;
    width: 30%;
    height: 8%;
}
.produtos1 img:hover{
    opacity: 0.5;
    transition: ease-in-out 0.5s;
}
.produtos div{
    display: flex;
    flex-direction: column;
    height: 65vh;
    justify-content: space-around;
}
.produtos2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.produtos2  img:hover{
    opacity: 0.5;
    transition: ease-in-out 0.5s;
}
.produtos2 button{
    border: none;
    border-radius: 10px;
    background-color: #5CA720;
    color: white;
    width: 30%;
    height: 8%;
}
.produtos2 div{
    display: flex;
    flex-direction: column;
    height: 65vh;
    justify-content: space-around;
}
span{
    color: #5CA720;
    text-decoration: underline;
    font-size: 1.2rem;
}
/*footer*/

footer{
    background-color: #f9f9f9;
    height: 40vh;
}
.servicos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
}
.email-1{
    height: 20vh;
    line-height: 5vh;
    width: 40%;
}
.email{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 15vh;
}
.email input{
    height: 8vh;
    border: none;
    width: 20vw;
}
.email input::placeholder{
    position: relative;
    left: 5%;
}
.email button{
    background-color: #5CA720;
    border: none;
    height: 8vh;
    width: 10vw;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.footer-informacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18vh;
}
.rede-social{
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}
.pagamento{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
}
.visa-cartao{
    width: 55px;
    height: 18px;
}
.mastercard{
    width: 56px;
    height: 43px;
}
.paypal{
    width: 28px;
    height: 33px;
}

/*responsivo*/
@media (max-width:768px) {
    /*HEADER*/
    .menu-simples img{
        width: 10%;
    }
    .menu-simples{
        width: 50%;
    }
    
    .banner{
        height: 30vh;
    }
    .banner img{
        width: 75%;
    }
    /*main*/
    .principal{
        justify-content: space-around;
        height: 15vh;
    }
    .principal p{
        width: 20%;
    }
    .produtos{
        flex-wrap: wrap;
        padding-top: 10%;
    }
    .produtos1{
        flex-direction: column;
    }
    .produtos2{
        flex-direction: column;
    }
    /*footer*/
    footer{
        height: 80vh;
    }
    .servicos{
        flex-direction: column;
        height: 60vh;
    }
    .footer-informacao{
        width: 82%;
    }
    .email-1{
        height: 25vh;
    }
    .email{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 20vh;
    }
    .email input{
        width: 80vw;
    }
    .email input::placeholder{
        font-size: 1.1rem;
    }
    .email button{
        width: 80vw;
        font-size: 1.3rem;
    }
    .footer-rede{
        justify-content: space-between;
    }
    .rede-social{
        width: 40%;
    }
    .pagamento{
        width: 60%;
    }
}
